<!DOCTYPE html>
<html>
<head>
  <script type="text/template" id="popupTmpl">
    <div id="dewDrop">How do you feel about <%= name %> aka FBuser: <%= facebookId %>
      <button id='supportUser'>I Trust Them</button>
      <button id='unsupportUser'>I don't trust them</button>

    </div>
  </script>
  <script type="text/javascript" src="../../js/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="../../js/underscore/underscore.js"></script>
  <script type="text/javascript" src="background.js"></script>
</head>
</html>